
<div class="application-wrapper">
    <div class="table-grid-acronyms">
        <div class="acronyms-header"></div>
        <div class="acronyms-header">Acronym</div>
        <div class="acronyms-header">Refers To</div>
        <div class="acronyms-header">Definition</div>
        <div class="acronyms-header">Area Key</div>
        <div class="acronyms-header">Tags</div>
        <div class="acronyms-header">Last Updated</div>

        <!-- <ng-container *ngFor="let a of acronyms"> -->
        @for (a of acronyms; track a.id) {
          <div class="acronym-input-div acronym-input-div-center" >
            <a [class]="calculateSaveClass(a.id)" (click)="onSaveAcronym(a.id)" >
              <img src="assets/images/save-outline-icon.png" class="acronym-save">
            </a>

            <span style="padding-left: 0.5rem;"></span>

            <a [id]="getDeleteAcronymId(a.id)" class="enabled-link" (click)="onDeleteAcronym(a.id)" >
              <img src="assets/images/deleteCase.jpg" class="acronym-save"  [id]="getDeleteAcronymId(a.id)"
              (click)="onDeleteAcronym(a.id)">
            </a>
          </div>

          <div class="acronym-input-div">
              <input  (keyup)="onInputKeyUp()"
                [(ngModel)]="a.acronym"
                type="text" class="input-box input-box-acronym" 
                minlength="2"
                size="10">
          </div>

          <div class="acronym-input-div">
            <input  (keyup)="onInputKeyUp()"
            [(ngModel)]="a.refersTo"
            type="text" class="input-box input-box-refers-to" 
            minlength="1"
            size="80">
          </div>

          <div class="acronym-input-div">
            <textarea class="form-control input-box input-textarea-description" 
             (keyup)="onTextareaKeyUp($event, a.id, 'definition')"
             (paste)="onTextareaPaste($event, a.id, 'definition')"
             [(ngModel)]="a.definition"
             rows="5">
            </textarea>
          </div>

          <div class="acronym-input-div">
            <input  (keyup)="onInputKeyUp()"
            [(ngModel)]="a.areaKey"
            type="text" class="input-box input-box-area-key" 
            minlength="1"
            size="10">
          </div>

          <div class="acronym-input-div">
            <textarea class="form-control input-box input-textarea-description" 
             [(ngModel)]="a.tagString"
             rows="1">
            </textarea>
          </div>

          <div class="acronym-input-div">
            <span class="input-box">Last Updated</span>
          </div>


				


      <!--<a id="${Config.ID_TEMPLATE_TITLE_UPDATE_LINK}" class="${Config.CASE_LINK} ${Config.CASE_LINK_OPAQUE}">Update Title</a>-->
        <!-- </ng-container> -->
        }
     </div>
</div>
