
<div class="application-wrapper">
    <div class="table-grid-cases">
        <div class="cases-header"></div>
        <div class="cases-header">Acronym</div>
        <div class="cases-header">Refers To</div>
        <div class="cases-header">Definition</div>
        <div class="cases-header">Area Key</div>
        <div class="cases-header">Tags</div>
        <div class="cases-header">Last Updated</div>

        <ng-container *ngFor="let a of acronyms">
          <div class="cases-td">
            <a [id]="getSaveAcronymId(a.id)" [class]="calculateSaveClass(a.id)" (click)="onSaveAcronym($event, a.id)" >
              <img src="assets/images/save-outline-icon.png" class="cases-view-edit">
            </a>
            <img src="assets/images/deleteCase.jpg" class="cases-view-edit"  [id]="getDeleteAcronymId(a.id)"
              (click)="onDeleteAcronym($event, a.id)">
            <span class="tooltip" [id]="getToolTipId(a.id)">{{ tooltipText }}</span>
          </div>

				  <!-- <div class="cases-td">{{ a.acronym}}</div> -->
          <div class="cases-td">
            <div style="display: inline-block;">
              <!-- <input #box (keyup)="onAcronymKeyUp(box.value, box.id)"
                  type="text" class="template-title" [id]="getAcronymId(a.id)"
                  minlength="2"
                  size="10"
                value="{{ a.acronym }}"> -->
              <input  (keyup)="onAcronymKeyUp($event, a.id)"
                type="text" class="template-title" [id]="getAcronymId(a.id)"
                minlength="2"
                size="10"
              value="{{ a.acronym }}">
            </div> 
          </div>

          <div class="cases-td">{{ a.refersTo }}</div>
          <div class="cases-td">{{a.definition}}</div>
          <div class="cases-td">{{a.areaKey}}</div>
          <div class="cases-td">tags</div>
          <div class="cases-td">last updated</div>


				


      <!--<a id="${Config.ID_TEMPLATE_TITLE_UPDATE_LINK}" class="${Config.CASE_LINK} ${Config.CASE_LINK_OPAQUE}">Update Title</a>-->
        </ng-container>
     </div>
</div>
