
<app-acronyms-header></app-acronyms-header>

<!-- list component is for read-only access  -->
<!--<app-acronyms-list></app-acronyms-list>-->

<!-- edit component is for administrators -->
<app-acronyms-edit></app-acronyms-edit>



<!--
<div>
  <label>Some Label </label>
  <input placeholder="placeholder">
  <button pButton type="button" 
      class="submit-button"
      (click)="onAddDoggie($event)" 
      label="Add Doggie" 
      [disabled]="disabledAddDoggieButton"
  ></button>
</div>
-->
<app-acronyms-footer></app-acronyms-footer>

<!--<router-outlet></router-outlet>-->

