.header-div {
  height: 4rem;
  width: 100%;
  background-color: #312797;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #312797; */
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 4rem; */
    z-index: 9999;
  }
  
  .li-float-left {
      float: left;
  }
  
  .li-float-right {
    float: right;
    /*font-size: 0.8rem;*/
  }
  
  li a, li label {
    display: block;
    /*color: #ffe4b2;*/
    color: white;
    text-align: center;
    /* padding: 1rem 1.1rem; */
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
  }
  
  li a:hover:not(.active) li label:hover:not(.active){
    color: white;
    cursor: pointer;
  }
  
  .logo {
      font-weight: bold;
      /*font-size: 1.2rem;*/
      /*color: #ffe4b2;*/
      color: white;
      font-size: 2.5rem;
  }

  .navbar-item:hover {
      cursor: pointer;
      color: white;
  }
