ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #312797;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  
  .li-float-left {
      float: left;
  }
  
  .li-float-right {
    float: right;
    /*font-size: 0.8rem;*/
  }
  
  li a, li label {
    display: block;
    /*color: #ffe4b2;*/
    color: white;
    text-align: center;
    padding: 1rem 1.1rem;
    text-decoration: none;
  }
  
  li a:hover:not(.active) li label:hover:not(.active){
    color: white;
    cursor: pointer;
  }
  
  .logo {
      font-weight: bold;
      /*font-size: 1.2rem;*/
      /*color: #ffe4b2;*/
      color: white;
      font-size: 1.5rem;
  }

  .navbar-item:hover {
      cursor: pointer;
      color: white;
  }
  
  .case-meta {
      color: #ffe4b2;
      font-weight: normal;
      font-size: 0.8rem;
      padding-left: 1rem;
  }