
		<div>
			<form>
				<div class="grid-form-container">

		            <div class="form-span">
						<p class="form-title">Submit a New Acronym!</p>
					</div>

                    <div class="form-span form-inline-block">
                        <label class="input-label">Acronym</label>
                        <input [(ngModel)]="acronym.acronym"
                            type="text" class="input-box" 
                            nminlength="2"
                            size="10">
                    </div>

                    <div class="form-span form-inline-block">
                        <label class="input-label" for="name-acronym">Refers To</label>
                        <input [(ngModel)]="acronym.refersTo"
                            type="text" class="input-box" 
                            nminlength="1"
                            size="80">
                    </div>

                    <div class="form-span form-inline-block">
                        <label class="input-label input-label-top">Definition</label>
                        <textarea class="input-box textarea-content"
                            [(ngModel)]="acronym.definition"
                            rows="8" cols="90" placeholder="..."></textarea>
                    </div>	

                    <div class="form-span form-inline-block">
                        <label class="input-label" style="padding-right: 0.8rem;">Area Key</label>
                        <input [(ngModel)]="acronym.areaKey"
                            type="text" class="input-box" 
                            nminlength="1"
                            size="40">
                    </div>

                    
                    <div class="form-span form-inline-block">
                        <label class="input-label" style="padding-right: 3rem;">Tags</label>
                        
                        <input [(ngModel)]="acronym.tagString"
                            type="text" class="input-box" 
                            nminlength="1"
                            size="40">

                        <span class="input-label tag-text">(Use comma to delimit multiple tags)</span>
                        
                    </div>

                    <div class="form-span submit-button-div">
                        <!--style="pointer-events: none; opacity: 0.3;"-->
                        <a  class="submit-button">Submit Nomination</a>
                    </div>

                    <!-- <div class="form-span">
                        <div class="form-spinner" id="spinner">
                            Processing your submission ...
                        </div>
                    </div> -->

		</div><!-- class=submission-form -->
    </form>
</div>			
